body {
  font-family: montserrat;
  background-color: #55ACEE; 
  transition: background-color 1s linear;
}

.card {
  width: 50%;
  margin: auto;
  margin-top: 75px; 
}

.card-text {
  text-align: left;
  font-size: 20px;
}

.card-subtitle {
  text-align: right;
}

.card-link{
  margin: right;
}

.tweet{
  font-size: 3em;
  color: #00aced;
  text-align: right;
  font-family: montserrat;  

}

.action{
  padding: 18px;
}