body {
  font-family: sans-serif;
  background-color: #55ACEE;
}

.card {
  width: 50%;
  margin: auto;
  margin-top: 50px; 
}

.card-text {
  text-align: center;
  font-size: 20px;
}

.card-subtitle {
  text-align: right;
}

.card-link{
  margin: right;
}

.tweet{
  font-size: 3em;
  color: #00aced;
  text-align: right;

}

.action{
  padding: 18px;
}